
{% extends 'AntBundle:CRUD:base_list_field.html.twig' %}

{% block field%}

    <img src="{{ object.image.getWebPath | imagine_filter('admin_thumb')  }}" class="img-rounded img-responsive media-object pull-left" />
    <p>{{ object.path }}</p>
{% endblock %}